.opis {
  background-color: #888383;
  border-radius: 10px;
  .tekst {
    position: relative;
    margin-left: 10px;
    color: black;
  }
}
.autor {
  background-color: #888383;
  border-radius: 10px;
  .tekst {
    position: relative;
    margin-left: 10px;
    color: black;
  }
}
