<div class="container">
  <div class="card mt-4" style="background-color: #353131; color: white">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
      <div class="opis">
        <div class="tekst">
          <p>E-learning!!!</p>
          <p>Platforma dla nauczycieli oraz uczniów</p>
          <p>
            Umożliwia udostępnianie materiałów poprzez platfomę multimedialną
          </p>
          <p>
            Pozwala na ustawienie określonej pory do aktywowania danych dzięki
            której klient ma możliwość pobrania
          </p>
        </div>
      </div>
      <div class="autor">
        <div class="tekst">
          <p>System realizowany w celu pracy dyplomowej</p>
          <p>
            Opracowanie systemu do udostępniania materiałów do nauki zdalnej
          </p>
          <p>Autor:</p>
          <p>Wiktor Mateusz Wócjik</p>
          <p>Numer albumu: 85311</p>

          <p>Opiekun pracy dyplomowej</p>
          <p>dr hab. inż. Paweł Sitek, Prof. PŚK</p>
        </div>
      </div>
      <button class="btn btn-primary" (click)="Login()">Zaloguj</button>
    </div>
  </div>
</div>
