<app-navbarAdmin></app-navbarAdmin>

<div class="container">
  <button
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
    (click)="refresh()"
  >
    <mat-icon>cached</mat-icon>
  </button>
  <mat-tab-group>
    <mat-tab label="Użytkownicy">
      <mat-tab-group>
        <mat-tab label="WSZYSCY">
          <mat-accordion displayMode="flat" multi class="mat-table">
            <mat-expansion-panel *ngFor="let item of user">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.login }}
                </mat-panel-title>
                <mat-panel-description>
                  <div *ngIf="item.rola.nazwa === 'BRAK'">Rola: BRAK</div>
                  <div *ngIf="item.rola.nazwa === 'ADMINISTRATION'">Rola: ADMISTRACJA SZKOŁY</div>
                  <div *ngIf="item.rola.nazwa === 'STUDENT'">Rola: UCZEŃ</div>
                  <div *ngIf="item.rola.nazwa === 'TEACHER'">
                    Rola: NAUCZYCIEL
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="user">
                <div class="tekst">
                  <p *ngIf="item.rola.nazwa !== 'ADMIN'">
                    Szkoła: {{ item.school.name }}
                  </p>
                  <p>Imie Nazwisko: {{ item.imieNazwisko }}</p>
                  <p>e-mail: {{ item.email }}</p>
                  <div *ngIf="item.rola.nazwa === 'STUDENT'">
                    <p>Numer indexu: {{ item.nrIndex }}</p>
                    <div *ngIf="item.groups !== undefined">
                      <p>Rok: {{ item.groups.year }}</p>
                      <p>Semester: {{ item.groups.semester }}</p>
                      <p>Kierunek: {{ item.groups.direction }}</p>
                      <p>Specjalizacia: {{ item.groups.specjalize }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="ADMIN">
          <mat-accordion displayMode="flat" multi class="mat-table">
            <mat-expansion-panel *ngFor="let item of userAdmin">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.login }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ item.rola.nazwa }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="user">
                <div class="tekst">
                  <p>Imie Nazwisko: {{ item.imieNazwisko }}</p>
                  <p>e-mail: {{ item.email }}</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="ADMINISTRACJA">
          <mat-accordion displayMode="flat" multi class="mat-table">
            <mat-expansion-panel *ngFor="let item of userAdministration">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.login }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ item.rola.nazwa }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="user">
                <div class="tekst">
                  <p>Imie Nazwisko: {{ item.imieNazwisko }}</p>
                  <p>e-mail: {{ item.email }}</p>
                  <p>Szkoła: {{ item.school.name }}</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="NAUCZYCIELE">
          <mat-accordion displayMode="flat" multi class="mat-table">
            <mat-expansion-panel *ngFor="let item of userTeacher">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.login }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ item.rola.nazwa }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="user">
                <div class="tekst">
                  <p>Imie Nazwisko: {{ item.imieNazwisko }}</p>
                  <p>e-mail: {{ item.email }}</p>
                  <p>Szkoła: {{ item.school.name }}</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="UCZNIOWIE">
          <mat-accordion displayMode="flat" multi class="mat-table">
            <mat-expansion-panel *ngFor="let item of userStudent">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.login }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ item.rola.nazwa }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="user">
                <div class="tekst">
                  <p>Imie Nazwisko: {{ item.imieNazwisko }}</p>
                  <p>e-mail: {{ item.email }}</p>
                  <p>Szkoła: {{ item.school.name }}</p>
                  <p>Numer indexu: {{ item.nrIndex }}</p>
                  <div *ngIf="item.groups !== undefined">
                    <p>Rok: {{ item.groups.year }}</p>
                    <p>Semester: {{ item.groups.semester }}</p>
                    <p>Kierunek: {{ item.groups.direction }}</p>
                    <p>Specjalizacia: {{ item.groups.specjalize }}</p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="BRAK">
          <mat-accordion displayMode="flat" multi class="mat-table">
            <mat-expansion-panel *ngFor="let item of userBrak">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.login }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ item.rola.nazwa }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="user">
                <div class="tekst">
                  <p>Imie Nazwisko: {{ item.imieNazwisko }}</p>
                  <p>e-mail: {{ item.email }}</p>
                  <p>Szkoła {{ item.school.name }}</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Szkoła">
      <div>
        <button mat-raised-button (click)="newSchool()">
          <mat-icon>add</mat-icon>
        </button>

        <mat-list role="list" *ngFor="let item of school">
          <mat-list-item role="listitem">{{ item.name }}</mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
