<mat-toolbar class="header">
  <mat-toolbar-row>
    <button mat-button routerLink="">
      <img src="assets\logo.png" class="logo" />
    </button>

    <div *ngIf="!currentUser" class="log">
      <button mat-button (click)="login()">
        <h1 class="text"><mat-icon>input</mat-icon> Login</h1>
      </button>
    </div>

    <div class="log">
      <div *ngIf="currentUser">
        <div *ngIf="isAdmin === true">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-card-header class="text">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="size"> {{ currentUser.login }} </mat-card-title>
              <mat-icon class="icon">more_vert</mat-icon>
            </mat-card-header>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Wyloguj</span>
            </button>
          </mat-menu>
        </div>

        <div *ngIf="isStudent === true">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-card-header class="text">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="size"> {{ currentUser.login }} </mat-card-title>
                <mat-icon class="icon">more_vert</mat-icon>
              </mat-card-header>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Wyloguj</span>
              </button>
            </mat-menu>
          </div>

          <div *ngIf="isTeacher === true">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-card-header class="text">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="size"> {{ currentUser.login }} </mat-card-title>
                <mat-icon class="icon">more_vert</mat-icon>
              </mat-card-header>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Wyloguj</span>
              </button>
            </mat-menu>
          </div>

          <div *ngIf="isAdministration === true">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-card-header class="text">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="size"> {{ currentUser.login }} </mat-card-title>
                <mat-icon class="icon">more_vert</mat-icon>
              </mat-card-header>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Wyloguj</span>
              </button>
            </mat-menu>
          </div>

          <div *ngIf="isNullPermission === true">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-card-header class="text">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="size"> {{ currentUser.login }} </mat-card-title>
                <mat-icon class="icon">more_vert</mat-icon>
              </mat-card-header>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Wyloguj</span>
              </button>
            </mat-menu>
          </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
