.his{
    background-color: #888383;
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    .elem{
        margin-left: 10px;
    }
}