<div>
  <div>
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <div class="file">
      <div class="elem">
        <mat-checkbox class="example-margin" [(ngModel)]="checked1">
          Zmiana nazwy!
        </mat-checkbox>

        <p>Nazwa pliku w systemie</p>
        <input
          matInput
          type="text"
          [(ngModel)]="nameFile"
          [disabled]="!checked1"
        />
      </div>
    </div>

    <div class="file">
      <div class="elem">
        <mat-checkbox class="example-margin" [(ngModel)]="checked2">
          Ustaw datę aktywacji!
        </mat-checkbox>
        <p>Data aktywacji pliku</p>
        <input
          name="date"
          [(ngModel)]="today"
          type="date"
          [disabled]="!checked2"
          require
        />
      </div>
    </div>

    <button mat-button (click)="upload()" cdkFocusInitial>
      Udostępnij plik
    </button>
  </div>
</div>
